body {
    background-color: #1b0220;
    max-width: 1200px;
    margin: auto;
    line-height: 1.6;
    color: #e0e0e0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    gap: 15px;
    align-content: space-between;
}

.card {
    padding: 15px;
    border: solid 1px;
    border-radius: 8px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}